<section class="container">
  <div class="search-input-container">
    <app-search-input [initialValue]="search" [useSearchButton]="false" (onSearch)="onSearch($event)"></app-search-input>
  </div>
  <h1>Search Results</h1>
  <app-infinite-scroll (scrolled)="onScroll()">
    <div class="movies-container" *ngIf="movies.length; else emptyListSection">
      <app-list-item *ngFor="let movie of movies" [item]="movie" (click)="onMovieClick(movie)"></app-list-item>
    </div>
  </app-infinite-scroll>
  <ng-template #emptyListSection>
    <section *ngIf="!isLoading" class="empty-results-section">
      <i>😞</i>
      <h2>There is no results for your search</h2>
      <h3>Please try to search another term or go to <a routerLink="/">homepage</a></h3>
    </section>
  </ng-template>
  <app-spinner *ngIf="isLoading"></app-spinner>
</section>
