<section class="container">
  <div class="search-input-container">
    <app-search-input [initialValue]="search" [useSearchButton]="false" (onSearch)="onSearch($event)"></app-search-input>
  </div>
  <h1>Search Results</h1>
  <app-infinite-scroll (scrolled)="onScroll()">
    <div class="movies-container" *ngIf="movies.length; else emptyListSection">
      <app-list-item *ngFor="let movie of movies" [item]="movie" (click)="onMovieClick(movie)"></app-list-item>
    </div>
  </app-infinite-scroll>
  <ng-template #emptyListSection>
    nao teve resultados :(
  </ng-template>
  <app-spinner *ngIf="isLoading"></app-spinner>
</section>
