@import "/src/assets/scss/animations.scss";

:host {
  .container {
    max-width: 1128px;
    margin: 80px auto;

    @extend .fade-in;

    @media (min-width: 768px) and (max-width: 1142px) {
      margin: 80px 24px;
    }

    @media (min-width: 321px) and (max-width: 768px) {
      margin: 40px 24px;
    }

    @media (max-width: 320px) {
      margin: 40px 16px;
    }
  }

  .title {
    font-size: 64px;
    line-height: 66px;
    font-family: "Bebas Neue", cursive;
    margin-bottom: 32px;

    @media (max-width: 320px) {
      font-size: 40px;
      line-height: 42px;
      margin-bottom: 24px;
    }
  }

  .subtitle {
    font-family: "Bebas Neue", cursive;
    font-size: 40px;
    margin-top: 71px;
    margin-bottom: 32px;

    @media (min-width: 321px) and (max-width: 768px) {
      margin-top: 56px;
      font-size: 40px;
      line-height: 42px;
    }

    @media (max-width: 320px) {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 24px;
    }
  }

  .movies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 48px;

    @media (min-width: 321px) and (max-width: 768px) {
      gap: 16px;
    }

    app-movie-item {
      flex: 1 0 15%;

      @media (max-width: 320px) {
        flex: 1 0 100%;
      }
    }
  }

  .movie-backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    max-width: 100%;
    width: 100%;
    max-height: 400px;
    z-index: -1;
    filter: blur(15px) brightness(0.5);
    object-fit: cover;
  }
}
